<!DOCTYPE html>
<html>

<head>
    <title>TikTok Embed | tiktokembed.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#00F2EA" data-react-helmet="true" name="theme-color" />

    <meta property="og:site_name" content="TikTok Embed | tiktokembed.com" />
    <meta property="og:title" content="@<%= data.author %> - <%= data.description %>" />
    <meta property="og:url" content="<%= data.link %>" />
    
    <meta property="og:type" content="video.movie" />
    <meta property="og:video" content="<%= data.vidUrl %>" />
    <meta property="og:video:secure_url" content="<%= data.vidUrl %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="1080" />
    <meta property="og:video:height" content="1920" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="<%= data.vidUrl %>" />
    <meta name="twitter:player:width" content="1080" />
    <meta name="twitter:player:height" content="1920" />
    <meta name="twitter:player:stream" content="<%= data.vidUrl %>" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />

    <script src="https://kit.fontawesome.com/20d82c8371.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">

    <script src="/public/js/main.js"></script>
</head>

<body class="preload">
    <div class="centered">
        <a href="<%= data.link %>" class="button" id="tiktokBtn"><i class="fa-brands fa-tiktok"></i>Original TikTok post</a>
        <a href="<%= data.vidUrl %>" class="button" id="miscBtn"><i class="far fa-file-video"></i>Direct link to video</a>

        <a href="https://github.com/Cosmiiko/TikTokEmbed" class="button" id="miscBtn">
            <i class="fab fa-github"></i>TikTokEmbed's Github repo</a>
    </div>
</body>

</html>